# Email Sender Address
# SENDER_ADDRESS='deniskatarakanov@yandex.ru'
SENDER_ADDRESS='tarakanov021098@gmail.com'

# Yandex Application Password
YANDEX_LOGIN='deniskatarakanov'
YANDEX_PASSWORD='yandex_password'
YANDEX_SMTP_HOST='smtp.yandex.ru'
YANDEX_SMTP_PORT=465

# Gmail Application Password
GMAIL_LOGIN='tarakanov021098'
GMAIL_PASSWORD='gmail_password'
GMAIL_SMTP_HOST='smtp.gmail.com'
GMAIL_SMTP_PORT=587
# GMAIL_SMTP_PORT=465

# RabbitMQ
RABBITMQ_HOST='rabbitmq'
RABBITMQ_PORT=5672
RABBITMQ_USERNAME='username'
RABBITMQ_PASSWORD='password'

# PostgreSQL
POSTGRES_DB='auth_database'
POSTGRES_USER='app'
POSTGRES_PASSWORD='123qwe'
POSTGRES_HOST='auth_db'
POSTGRES_PORT='5432'

# Redis
REDIS_HOST='redis'
REDIS_PORT='6379'